/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 06/11/2017, 20:46:34
    Author     : 2014000349
*/

body{
    
    background:#222222;
    color:#88cc00;
    font-family: 'Saira Semi Condensed', sans-serif;
    overflow-x: hidden; 
    overflow-y: hidden; 
    
}

div{
    
    letter-spacing: 37px;
    width: 100%;
    text-align:justify;
    
}


.bloco1 {
    -webkit-animation-name: bloco1; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 60s; /* Safari 4.0 - 8.0 */
    -webkit-animation-iteration-count: infinite;
    animation-name: bloco1;
    animation-duration: 60s;
    animation-iteration-count: infinite;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes bloco1 {
    
    0%{position:absolute; top:-550%;}
    100%{position:absolute; top:100%;}
    
}

/* Standard syntax */
@keyframes bloco1 {
    
    0%{position:absolute; top:-550%;}
    100%{position:absolute; top:100%;}
   
}



