/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 06/11/2017, 20:46:34
    Author     : 2014000349
*/

body{
    
    background:#222222;
    color:#88cc00;
    font-family: 'Saira Semi Condensed', sans-serif;
    overflow-x: hidden; 
    overflow-y: hidden; 
    
}

div{
    
    letter-spacing: 37px;
    width: 100%;
    text-align:justify;
    
}
